.videosk__title {
  height: 1.5rem;
  width: 14.4rem;
  border-radius: 4px;
  background-color: #252525;
  margin-bottom: 8px;
}
.videosk__channel {
  height: 1.4rem;
  width: 9.4rem;
  border-radius: 4px;
  background-color: #252525;
}
